{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
        .logo{
      
  display: table;
  margin-right: auto;
  margin-left: auto;
        }
    </style>
  </head>
  <body>
    {% include "blood/navbar.html" %}
    <br><br><br><br><br><br>


                  <h1 class="font-semibold text-center" style="font-size:52px">You Have Been Logged Out</h1>
                   <h4 class="text-center mgbt-xs-20">Thank you for using our website</h4>
                       

                   
            
<br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% include "blood/footer.html" %}

  </body>
</html>
